h1 {
	margin-bottom: 40px;
}
.btn-group {
	margin-top: 20px;
}
#gif-gallery-container {
	padding-top: 20px;
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	justify-content: space-between;
	max-width: 100%;
}
#gif-gallery-container img {
	background-color: #000;
	margin-bottom: 20px;
}
#pagination-links-container {
	margin-bottom: 50px;
}
#pagination-links-container a {
	display: block;
	float: left;
	margin-right: 5px;
}